.parent {
  background-color: #121212;
  color: #fff;
  padding: 20px 20px 20px 80px;
}

a {
  padding-left: 5px;
  color: #c0bebe;
  text-decoration: none;
}

.a {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  width: 140px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #282828;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cart-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2%;
}

button {
  margin: 20px 0;
  border: 1px solid #FFAE1B;
  background-color: transparent;
  border-radius: 10px;
  padding: 8px 20px;
  color: #FFAE1B;
  font-size: 14px;
  cursor: pointer;
}

.price {
  color: #FFAE1B;
}

span {
  color: #949494;
  font-size: 14px;
}

.img {
  width: 280px;
  height: 250px;
  margin-right: 30px;
  border-radius: 10px;
}

@media (max-width: 800px) {

  .parent {
    padding-left: 50px;
  }
}

@media (max-width: 500px) {

  h1 {
    font-size: 28px
  }

  .parent {
    padding: 20px;
  }

  .cart-item {
    flex-direction: column;
    margin-bottom: 15px;
  }
}