<div class="containerr">
  <div class="header">
    <div class="a">
      <a class="card-title" routerLink="/cart" routerLinkActive="active" *ngIf="!isLoading">View Cart</a>
      <img src="../assets/svgs/cart-icon.svg" width="20px" alt="cart-icon">
    </div>
    <input class="input" type="text" [(ngModel)]="searchTerm" placeholder="Search by name or model" id="search-input"
      [hidden]="isLoading" />
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
  <div *ngIf="!isLoading" class="products-container">
    <div class="product" *ngFor="let product of products">
      <img class="img" [src]="product.image" alt="Product" />
      <div class="card-content">
        <h2>{{ product.name }}</h2>
        <p>Model: <span class="data">{{ product.model }} {{ product.model }}</span> </p>
        <p>Manufacturer: <span class="data">{{ product.manufacturer }}</span> </p>
        <p>Price: <span class="data2">{{ product.cost_in_credits }}</span> </p>
        <button class="btn" (click)="addToCart(product)">Add</button>
        <p class="quantity" *ngIf="isInCart(product)">
          {{ getProductQuantity(product) }}
        </p>
        <button class="btn" (click)="removeFromCart(product)" *ngIf="isInCart(product)">Remove</button>
        <a class="view-details" [routerLink]="['/product', extractIdFromUrl(product.url)]">View Details</a>
      </div>
    </div>
  </div>

  <div *ngIf="products.length === 0 && !isLoading" class="no-items-found">
    No items found.
  </div>

  <div class="pagination">
    <button class="btn2" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button class="btn2" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>

  <img class="bg-left" src="../assets/images/bg-leftHalf.png" alt="">
  <img class="bg-right" src="../assets/images/bg-rightHalf.png" alt="">

</div>