<!-- <app-header></app-header> -->


<!-- Payment  -->

<div class="payment-container">
  <div class="logo">LOGO</div>
  <div class="forms-main">
    <Form class="form-1">
      <h3>Subscribe</h3>
      <h5>to our Monthly Surprise Box</h5>
      <h4>Contact Information</h4>
      <!-- details  -->

      <label>Your Name</label>
      <input type="text" placeholder="e.g Osama Alshathri">
      <label>Email</label>
      <input type="email" placeholder="Osama@gmail.com">
      <h4 class="mt-0">Child’s Information</h4>
      <label>Child’s Full Name</label>
      <input type="text" placeholder="e.g Sarah Mohammad">
      <label>Child’s Date of Birth</label>
      <div class="date-child">
        <select>
          <option value="" disabled selected>Date</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <select>
          <option value="" disabled selected>Month</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <select>
          <option value="" disabled selected>Year</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
        </select>
      </div>
      <label>Grade</label>
      <select class="grade">
        <option value="" disabled selected>e.g Grade 2</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <label>Gender</label>
      <div class="gender">
        <div class="gender-select">
          <span>Boy</span>
          <img src="../../assets/check.svg" alt="">
        </div>
        <div>
          <span>Girl</span>
          <img src="../../assets/uncheck.svg" alt="">
        </div>
      </div>
      <h4 class="mt-0">As a parent select any 3 topics</h4>
      <div class="topics-container">
        <div>Arabic</div>
        <div>Islamic</div>
        <div>English</div>
        <div>History</div>
        <div class="check">Sports</div>
      </div>
      <button type="submit">Continue to payment</button>
    </Form>
    <div class="summary">
      <h3>Summary</h3>
      <h5>of your Monthly Surprise Box</h5>
      <div class="mystryBox">
        <div>
          <h4>Mystery Box </h4>
          <span>X 1</span>
        </div>
        <div>
          <h4>
            <h5>SAR</h5> 456
          </h4>
          <span>Monthly</span>
        </div>
      </div>
      <div class="subtotal">
        <h5>Subtotal</h5>
        <h4>
          <h5>SAR</h5> 456
        </h4>
      </div>
      <div class="shipping">
        <h5>Shipping</h5>
        <span>Free</span>
      </div>
      <!-- **************** tax -->
      <div class="subtotal">
        <h5>Taxes</h5>
        <h4>
          <h5>SAR</h5> 4.0
        </h4>
      </div>
      <hr>
      <!-- **************** total -->
      <div class="subtotal">
        <h5>Total</h5>
        <h4>
          <h5>SAR</h5> 456
          <span class="status">Monthly</span>
        </h4>
      </div>
    </div>
  </div>
</div>