<!-- <app-header></app-header> -->



<!-- HomePage  -->
<!-- <div class="home-container">
  <div class="home-main">
    <div class="logo">LOGO</div>
    <div class="header-container">
      <div class="heading">
        Discover the magic of our surprise box
      </div>
      <div class="description">
        Unleash your child's curiosity with our educational subscription box filled with fun and learning.
      </div>
      <div class="subscribe-btn">Subscribe Now</div>
    </div>
    <img alt="image" src="../../assets/home.png" class="home-image" />
  </div>
  <div class="discover-container">
    <div class="discover-content">
      <h4>Discover</h4>
      <h1>How It Works: Subscribe and Receive Your Surprise Box</h1>
      <p>Subscribe to our surprise subscription box and give your child the gift of learning.
        Each month, we curate a box filled with educational materials tailored to your child's age and interests.</p>
    </div>
    <div class="step-wraper">
      <div class="step-div">
        <img src="../../assets/step1.svg" alt="icon">
        <h4>Step 1:</h4>
        <h3>Subscribe</h3>
        <p>Select a subscription plan that suits your child's learning needs and preferences.</p>
      </div>
      <div class="step-div">
        <img src="../../assets/step2.svg" alt="icon">
        <h4>Step 2:</h4>
        <h3>Personalise Your Box</h3>
        <p>Tell us about your child's age, interests, and learning goals, and we'll customize their surprise box
          accordingly.</p>
      </div>
      <div class="step-div">
        <img src="../../assets/step3.svg" alt="icon">
        <h4>Step 3:</h4>
        <h3>Receive Your Surprise Box</h3>
        <p>Sit back and relax as your child eagerly awaits the arrival of their monthly surprise box filled with
          engaging learning materials.</p>
      </div>
    </div>
    <button>Subscribe Now</button>
  </div>
  <div class="mbl-footer">
    <h4>LOGO</h4>
    <a href="">Link one</a>
    <a href="">Link two</a>
    <a href="">Link three</a>
    <a href="">Link four</a>
    <a href="">Link five</a>
    <label>Subscribe</label>
    <input type="email" placeholder="Enter your email">
    <button>Subscribe</button>
    <p>By subscribing you agree to with our Privacy Policy</p>
  </div>
  <div class="footer">
    <hr>
    <div>
      <a href="">Privacy Policy</a>
      <a href="">Terms of Service</a>
      <a href="">Cookies Settings</a>
      <p>© 2023 MyEdu. All rights reserved.</p>
    </div>
  </div>
</div> -->









<!-- Payment  -->

<div class="payment-container">
  <div class="logo">LOGO</div>
  <div class="forms-main">
    <Form class="form-1">
      <h3>Subscribe</h3>
      <h5>to our Monthly Surprise Box</h5>
      <h4>Contact Information</h4>
      <!-- details  -->

      <label>Your Name</label>
      <input type="text" placeholder="e.g Osama Alshathri">
      <label>Email</label>
      <input type="email" placeholder="Osama@gmail.com">
      <h4 class="mt-0">Child’s Information</h4>
      <label>Child’s Full Name</label>
      <input type="text" placeholder="e.g Sarah Mohammad">
      <label>Child’s Date of Birth</label>
      <div class="date-child">
        <select>
          <option value="" disabled selected>Date</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <select>
          <option value="" disabled selected>Month</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <select>
          <option value="" disabled selected>Year</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
        </select>
      </div>
      <label>Grade</label>
      <select class="grade">
        <option value="" disabled selected>e.g Grade 2</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <label>Gender</label>
      <div class="gender">
        <div class="gender-select">
          <span>Boy</span>
          <img src="../../assets/check.svg" alt="">
        </div>
        <div>
          <span>Girl</span>
          <img src="../../assets/uncheck.svg" alt="">
        </div>
      </div>
      <h4 class="mt-0">As a parent select any 3 topics</h4>
      <div class="topics-container">
        <div>Arabic</div>
        <div>Islamic</div>
        <div>English</div>
        <div>History</div>
        <div class="check">Sports</div>
      </div>
      <button type="submit">Continue to payment</button>
    </Form>
    <div class="summary">
      <h3>Summary</h3>
      <h5>of your Monthly Surprise Box</h5>
      <div class="mystryBox">
        <div>
          <h4>Mystery Box </h4>
          <span>X 1</span>
        </div>
        <div>
          <h4>
            <h5>SAR</h5> 456
          </h4>
          <span>Monthly</span>
        </div>
      </div>
      <div class="subtotal">
        <h5>Subtotal</h5>
        <h4>
          <h5>SAR</h5> 456
        </h4>
      </div>
      <div class="shipping">
        <h5>Shipping</h5>
        <span>Free</span>
      </div>
      <!-- **************** tax -->
      <div class="subtotal">
        <h5>Taxes</h5>
        <h4>
          <h5>SAR</h5> 4.0
        </h4>
      </div>
      <hr>
      <!-- **************** total -->
      <div class="subtotal">
        <h5>Total</h5>
        <h4>
          <h5>SAR</h5> 456
          <span class="status">Monthly</span>
        </h4>
      </div>
    </div>
  </div>
</div>